In [1]:
import ucimlrepo
from ucimlrepo import fetch_ucirepo

# Decision Trees

This notebook will explore the effectiveness of decision trees and random forests.

In [2]:
bank_marketing = fetch_ucirepo(id=222)
x = bank_marketing.data.features
y = bank_marketing.data.targets

In [3]:
for title in bank_marketing.metadata:
    if type(bank_marketing.metadata[title]) == ucimlrepo.dotdict:
        print(f"{title}:")
        for inner_title in bank_marketing.metadata[title]:
            print(f"\t{inner_title}: {bank_marketing.metadata[title][inner_title]}")
    else:
        print(f"{title}: {bank_marketing.metadata[title]}")

uci_id: 222
name: Bank Marketing
repository_url: https://archive.ics.uci.edu/dataset/222/bank+marketing
data_url: https://archive.ics.uci.edu/static/public/222/data.csv
abstract: The data is related with direct marketing campaigns (phone calls) of a Portuguese banking institution. The classification goal is to predict if the client will subscribe a term deposit (variable y).
area: Business
tasks: ['Classification']
characteristics: ['Multivariate']
num_instances: 45211
num_features: 16
feature_types: ['Categorical', 'Integer']
demographics: ['Age', 'Occupation', 'Marital Status', 'Education Level']
target_col: ['y']
index_col: None
has_missing_values: yes
missing_values_symbol: NaN
year_of_dataset_creation: 2014
last_updated: Fri Aug 18 2023
dataset_doi: 10.24432/C5K306
creators: ['S. Moro', 'P. Rita', 'P. Cortez']
intro_paper:
	ID: 277
	type: NATIVE
	title: A data-driven approach to predict the success of bank telemarketing
	authors: SÃ©rgio Moro, P. Cortez, P. Rita
	venue: Decision Support Systems
	year: 2014
	journal: None
	DOI: 10.1016/j.dss.2014.03.001
	URL: https://www.semanticscholar.org/paper/cab86052882d126d43f72108c6cb41b295cc8a9e
	sha: None
	corpus: None
	arxiv: None
	mag: None
	acl: None
	pmid: None
	pmcid: None
additional_info:
	summary: The data is related with direct marketing campaigns of a Portuguese banking institution. The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required, in order to access if the product (bank term deposit) would be ('yes') or not ('no') subscribed.

There are four datasets:
1) bank-additional-full.csv with all examples (41188) and 20 inputs, ordered by date (from May 2008 to November 2010), very close to the data analyzed in [Moro et al., 2014]
2) bank-additional.csv with 10% of the examples (4119), randomly selected from 1), and 20 inputs.
3) bank-full.csv with all examples and 17 inputs, ordered by date (older version of this dataset with less inputs).
4) bank.csv with 10% of the examples and 17 inputs, randomly selected from 3 (older version of this dataset with less inputs).
The smallest datasets are provided to test more computationally demanding machine learning algorithms (e.g., SVM).

The classification goal is to predict if the client will subscribe (yes/no) a term deposit (variable y).
	purpose: None
	funded_by: None
	instances_represent: None
	recommended_data_splits: None
	sensitive_data: None
	preprocessing_description: None
	variable_info: Input variables:
   # bank client data:
   1 - age (numeric)
   2 - job : type of job (categorical: "admin.","unknown","unemployed","management","housemaid","entrepreneur","student",
                                       "blue-collar","self-employed","retired","technician","services")
   3 - marital : marital status (categorical: "married","divorced","single"; note: "divorced" means divorced or widowed)
   4 - education (categorical: "unknown","secondary","primary","tertiary")
   5 - default: has credit in default? (binary: "yes","no")
   6 - balance: average yearly balance, in euros (numeric)
   7 - housing: has housing loan? (binary: "yes","no")
   8 - loan: has personal loan? (binary: "yes","no")
   # related with the last contact of the current campaign:
   9 - contact: contact communication type (categorical: "unknown","telephone","cellular")
  10 - day: last contact day of the month (numeric)
  11 - month: last contact month of year (categorical: "jan", "feb", "mar", ..., "nov", "dec")
  12 - duration: last contact duration, in seconds (numeric)
   # other attributes:
  13 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
  14 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric, -1 means client was not previously contacted)
  15 - previous: number of contacts performed before this campaign and for this client (numeric)
  16 - poutcome: outcome of the previous marketing campaign (categorical: "unknown","other","failure","success")

  Output variable (desired target):
  17 - y - has the client subscribed a term deposit? (binary: "yes","no")

	citation: None

In [4]:
bank_marketing.variables

,name,role,type,demographic,description,units,missing_values
0,age,Feature,Integer,Age,None,None,no
1,job,Feature,Categorical,Occupation,"type of job (categorical: 'admin.','blue-colla...",None,no
2,marital,Feature,Categorical,Marital Status,"marital status (categorical: 'divorced','marri...",None,no
3,education,Feature,Categorical,Education Level,"(categorical: 'basic.4y','basic.6y','basic.9y'...",None,no
4,default,Feature,Binary,None,has credit in default?,None,no
5,balance,Feature,Integer,None,average yearly balance,euros,no
6,housing,Feature,Binary,None,has housing loan?,None,no
7,loan,Feature,Binary,None,has personal loan?,None,no
8,contact,Feature,Categorical,None,contact communication type (categorical: 'cell...,None,yes
9,day_of_week,Feature,Date,None,last contact day of the week,None,no
10,month,Feature,Date,None,last contact month of year (categorical: 'jan'...,None,no
11,duration,Feature,Integer,None,"last contact duration, in seconds (numeric). ...",None,no
12,campaign,Feature,Integer,None,number of contacts performed during this campa...,None,no
13,pdays,Feature,Integer,None,number of days that passed by after the client...,None,yes
14,previous,Feature,Integer,None,number of contacts performed before this campa...,None,no
15,poutcome,Feature,Categorical,None,outcome of the previous marketing campaign (ca...,None,yes
16,y,Target,Binary,None,has the client subscribed a term deposit?,None,no

In [5]:
x

,age,job,marital,education,default,balance,housing,loan,contact,day_of_week,month,duration,campaign,pdays,previous,poutcome
0,58,management,married,tertiary,no,2143,yes,no,NaN,5,may,261,1,-1,0,NaN
1,44,technician,single,secondary,no,29,yes,no,NaN,5,may,151,1,-1,0,NaN
2,33,entrepreneur,married,secondary,no,2,yes,yes,NaN,5,may,76,1,-1,0,NaN
3,47,blue-collar,married,NaN,no,1506,yes,no,NaN,5,may,92,1,-1,0,NaN
4,33,NaN,single,NaN,no,1,no,no,NaN,5,may,198,1,-1,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,NaN
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,NaN
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,NaN
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other

In [6]:
y

         y
0       no
1       no
2       no
3       no
4       no
...    ...
45206  yes
45207  yes
45208  yes
45209   no
45210   no

[45211 rows x 1 columns]